input {
	margin-top: 10px;
	border-radius: 15px;
	height: 30px;
}

label {
	margin-right: 5px;
	font-size: 20px;
	font-family: Arial;
	color: brown;
	font-weight: bold;
}

form {
	position: absolute;
	top: 200px;
	left: 495px;
	background-color: rgba(255,255,255, 0.5);
	border-radius: 15px;
	padding: 50px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

button {
	margin-left: 100px;
	margin-top: 10px;
	border: solid 2px blue;
	padding: 15px;
	width: 30%;
	font-family: Arial;
	color: white;
	background-color: blue;
	font-size: 18px;
	border-radius: 15px;
}



